@media only screen and (min-width:0) {
    .form-dialog{
        width: 100%;
    }
    .body-input-account{
        padding: 5px;
        width: 100%;
    }
    .category-text-detail{
        font-size: var(--font-detail);
        width: 100%;
        color: var(--color-main);
        margin-top: 5px;
    }
    .row-bd-input{
        width: 100%;
    }
    .bd-form-input{
        width: 100%;
        padding: 5px;
        min-height: 50px;
    }
    .button-update-account{
        float: right;
        background-color:var(--color-btn);
        color: white;
        cursor: pointer;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 600px) {
    .bd-form-input{
        width: 100%;
    }
}