.e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame{
  background-color: #fff!important;
  border: 1.5px solid #8C8C8C;
  width: 18px;
  height: 18px;
  border-radius: 2px!important;
  line-height: 16px!important;
}
.e-checkbox-wrapper:hover .e-frame.e-check, .e-css.e-checkbox-wrapper:hover .e-frame.e-check{
  background: #fff!important;
  color: #0176FF!important;
  border-color: #0176FF!important;
  /* content: "\E206"!important; */
  font-size: 14px!important;
}
.e-checkbox-wrapper .e-check::before, .e-css.e-checkbox-wrapper .e-check::before{
  background: #fff;
  color: #0176FF;
  border-color: #0176FF;
  font-size: 14px;
}
.e-checkbox-wrapper .e-stop::before, .e-css.e-checkbox-wrapper .e-stop::before{
  /* content: '\E7FA'!important; */
  background: #fff;
  color: #0176FF;
  border-color: #0176FF;
  font-size: 14px;
}
.info-row .key{
  padding-top: 6px!important
}
.form-control:disabled{
  background-color: #e9ecef!important; 
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: unset!important;
  border-style: unset!important;
  border-width: unset!important; 
  margin-top: 7px!important;
  top: 0!important;
}
.select2-selection__arrow {
  height: 32px!important
}
.select2-container--default .select2-selection--single {
  height: 32px!important
}
.custom-select{
  background: #fff!important;
}
.custom-control-label {
  position: unset!important;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before {
  width: 18px;
  height: 18px;
  line-height: 16px;
  border-radius: 0px;
  text-align: center;
  display: inline-block;
  font-family: "ap";
  border: 1.5px solid #8C8C8C;
  content: "";
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 2px;
}

.custom-checkbox .custom-control-label::before {
  width: 18px;
    height: 18px;
    line-height: 16px;
    border-radius: 0px;
    text-align: center;
    display: inline-block;
    font-family: "ap";
    border: 1.5px solid #8C8C8C;
    content: "";
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
}
.custom-control{
  display: inline-block;
}
.custom-control-input{
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  left: 0px;
  top: 0px;
  position: absolute;
  margin: 0px;
}
.custom-control-input:checked~.custom-control-label::before{
  background: #fff!important;
  color: #0176FF!important;
  border-color: #0176FF!important;
  content: "\E206"!important;
  font-size: 14px!important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
  box-shadow: none!important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #0176FF!important;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background: #fff!important;
  color: #0176FF!important;
  border-color: #b3d7ff;
}
.gutter {
  background-color: unset!important;
  width: 15px!important;
  padding: 0px 5px!important;
  display: block!important;
  cursor: ew-resize!important;
  z-index: 9!important;
  background-image: url(../img/dot.svg)!important;
  background-size: 8px auto!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
}
.gutter.gutter-horizontal{
  width: 10px!important;
  padding: 0px 5px!important;
  display: block!important;
  cursor: ew-resize!important;
  z-index: 9!important;
  background-image: url(../img/dot.svg)!important;
  background-size: 8px auto!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
}
.gutter.gutter-vertical{
  height: 10px!important;
  background-image: url(../img/gutter.svg)!important;
  padding: 5px 0px!important;
  height: 8px!important;
  background-size: auto 8px!important;
  display: block!important;
  width: 100%!important;
}
.e-input-group .e-input-group-icon:last-child, .e-input-group.e-control-wrapper .e-input-group-icon:last-child{
  border-left: none!important
}
/*
.e-grid, .e-control, .e-css{
  font-family: inherit!important
}
.e-grid .e-table{
  width: 100%;
  font-size: 14px!important;
  background: #fff;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 2px;
  font-variant: normal;
  font-family: "Roboto", Arial;
}
.e-grid .e-headercell, .e-grid .e-detailheadercell{
  background-color: #BAE7FF;
  border: 1px solid #FFFFFF;
  white-space: nowrap;
  padding: 5px 7px;
  height: 32px;
  font-weight: 600!important;
}
*/
.overlay-common{
  z-index: 1999!important;
}
.custom-radio .custom-control-label::before{
  width: 18px!important;
  height: 18px!important;
  line-height: 16px!important;
  text-align: center!important;
  display: inline-block!important;
  font-family: "ap";
  border: 1.5px solid #8C8C8C;
  content: "";
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before{
  content: ""!important;
  color: #0176FF!important;
  background: #fff!important;
  font-size: 12px;
  border-color: #0176FF!important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background: #fff!important;
  color: #0176FF!important;
  border-color: #0176FF!important;
  content: "\E206"!important;
  font-size: 14px!important;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  width: 10px!important;
  height: 10px!important;
  border-radius: 50%!important;
  content: "";
  position: absolute;
  top: 4px!important;
  z-index: 2;
  left: 4px;
  background: #0176FF!important;
}
.custom-radio .custom-control-input:not(:disabled):active~.custom-control-label::before {
  width: 18px!important;
  height: 18px!important;
  line-height: 16px!important;
  text-align: center!important;
  display: inline-block!important;
  font-family: "ap";
  border: 1.5px solid #8C8C8C;
  content: "";
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%!important;
}
.e-grid{
  font-family: var(--bs-font-sans-serif)!important;
  font-weight: 400;
  color: #212529;
  font-size: 14px!important;
  border-radius: 0!important
}

.e-table{
  width: 100%;
  background: #fff!important;
  white-space: nowrap;
}
.e-grid .e-headercell, .e-grid .e-detailheadercell:hover{
  /*background: #FFF9EB !important*/
}
.e-grid .e-headercell, .e-grid .e-filterbarcell{
  background-color: #BAE7FF!important;
  border: 1px solid #FFFFFF!important;
  white-space: nowrap;
  /*padding: 5px 7px!important;*/
  height: 32px!important;
  font-weight: 600!important;
}
.e-grid .e-filterbarcell{
  padding: 5px 7px!important;
}
.e-grid td.e-focus{
  background-color: #FFF9EB !important;
}
.table-result tbody tr:nth-child(2n+2){
  background: #F1F8FF!important;
}
.e-grid .e-altrow {
  background: #F1F8FF!important
}
.e-grid.e-gridhover tr[role='row']:not(.e-editedrow):hover .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell), .e-grid.e-gridhover tr[role='row']:hover .e-detailrowcollapse:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell), .e-grid.e-gridhover tr[role='row']:hover .e-rowdragdrop:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell), .e-grid.e-rtl .e-gridhover tr[role='row']:hover .e-rowdragdrop:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell), .e-grid.e-gridhover tr[role='row']:hover .e-detailrowexpand:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell){
  background-color: unset!important;
}
.e-grid tr.e-focus td:first-child:not(.e-editcell):not(.e-gridchkbox) span::before{
/*.e-grid:not(.e-grid-min-height) .e-gridcontent tr.e-focus td:not(.e-indentcell):first-child:empty, .e-grid:not(.e-grid-min-height) .e-gridcontent tr.e-focus .e-rowcell:empty span::before{*/
  font: normal normal normal 14px/1 FontAwesome!important;
  content: "\F04B"!important;
  color: #0176FF !important
}
.e-grid tr.e-focus{
  background-color: #F9E1A9 !important;
}
.e-grid tr.e-focus td:first-child:not(.e-editcell):not(.e-gridchkbox){
  border-right: 2px solid #035FCC!important;
}
.e-grid:not(.e-row-responsive) tr.e-focus td:first-child:not(.e-editcell):not(.e-gridchkbox) .e-rowcell {
  border-right: 2px solid #035FCC!important;
}
/*
.e-grid:not(.e-row-responsive) td.e-focus:first-child:not(.e-gridchkbox) span::before{
  font: normal normal normal 14px/1 FontAwesome!important;
  content: "\F04B"!important;
  color: #0176FF !important
}
*/
.required{
  color: red
}
.tabs a{
  min-width: 130px!important;
}
.e-control .e-datepicker
{
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
.e-dialog .e-dlg-header-content + .e-dlg-content{
  padding-top: 0!important
}
.e-dialog .e-dlg-content{
  padding: 0!important;
}
.disabled{
  cursor: default;
  pointer-events: none;
  text-decoration: none!important;
  color: grey!important;
}
#custom_tab .e-tab .e-tab-header{
  padding: .75rem 1.25rem!important;
  margin-bottom: 0!important;
  background-color: rgba(0,0,0,.03)!important;
  border-bottom: 1px solid rgba(0,0,0,.125)!important;
}
.e-row .e-focus{
  background-color: #F9E1A9 !important;
}
.e-stackedheadercelldiv{
  text-align: center!important;
  font-weight: bold!important;
}
.e-grid td.e-active{
  background: unset!important
}
.e-grid .e-emptyrow:not(.e-editedbatchcell){
  text-align: center;
}
.row{
  margin: 0px -7px!important;
}

/* Created by kylq_hcm
  Sử dụng cho thư viện multiselect
  Cá nhân khác cấm sửa css của module multiselect trong này
*/
.multiselect, .multiselect__input, .multiselect__single {
  font-size: 1rem !important;
}
.multiselect__tags{
  min-height: 32px !important;
  border: 1px solid #ced4da !important;
  padding: 6px 32px 0 6px;
  border-radius: 4px;
}
.multiselect__placeholder {
  margin-bottom: 5px!important;
  padding-top: 0px!important;
}
.multiselect__select{
  top: 0px!important;
  padding: 10px 9px!important;
}
.multiselect--disabled{
  background: none!important;
}
.multiselect--disabled .multiselect__current, .multiselect--disabled .multiselect__select{
  background: none!important;
}
.e-dlg-header {
  font-weight: bold !important;
}
