/* Fonts */


/* Open Sans */
@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), 
        url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), 
        url('../fonts/Roboto/Roboto-Regular.svg#SFUFutura') format('svg');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), 
        url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), 
        url('../fonts/Roboto/Roboto-Bold.svg#SFUFutura') format('svg');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff'), 
        url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype'), 
        url('../fonts/Roboto/Roboto-Medium.svg#SFUFutura') format('svg');
    font-weight: 600;
    font-display: swap;
}