@media only screen and (min-width:0){
    .button-edit{
        text-align: right;
        margin-bottom: 10px ;
        margin-right: 5px;
        margin-top: 5px;
        margin-right: 18px;
    }
    .form-control{
        font-size: 15px;
        border: 1px solid #BAE7FF;
    }
    .name-field{
        font-size: 15px;
    }
}