@media only  screen and (min-width:0){
    
    .loader {
        position: absolute; 
        width: 100px;
        height: 100px;
        top: 40%;
        bottom: 0;
        left: 50%;
        right: 0;
    }
    .loader-border{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1000;
        background-color: rgba(255,255,255,0.6);
    }
    .loader span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0);
        transform: rotate(calc(18deg * var(--i)));
    }
    
    .loader span:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        background: var(--color-main);
        border-radius: 50%;
        animation: animate 2s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }
    #app .overlay-common{
        background-color: rgb(191 180 180 / 30%) !important;
    }
    @keyframes animate {
        0%
        {
            transform: scale(0);
        }
        10%
        {
            transform: scale(1.2);
        }
        80%, 100%
        {
            transform: scale(0);
        }
    }
    
    .rocket {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: rotating 2s linear infinite;
        animation-delay: -1s;
    }
    
    @keyframes rotating {
        0%
        {
            transform: rotate(10deg);
        }
        100%
        {
            transform: rotate(370deg);
        }
    }
    
    .fa-plane {
        font-family: fontAwesome;
        position: absolute;
        top: 70px;
        left: 75px;
        color:var(--color-main);
        font-size: 45px;
        transform: rotate(180deg);
    
    }    
}