@media only  screen and (min-width:0) {
    .box-form{
        /* padding: 6px 12px !important; */
    }
    .bnt-select-file{
        width: 15%;
        background-color: var(--color-main);
        border-radius: 4px;
        color: white;
        font-weight: 400;
        padding: 5px;
        margin-right: 2%;
    }
    .name-file-selected{
        width: 83%;
        padding: 10px;
        border: 1px dotted rgba(51,51,51,0.5);
        border-radius: 4px;
    }
    .bnt-delete-file{
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        height: auto;
        cursor: pointer;
    }
    .bnt-delete-file > i{
        font-size: 18px;
        color: red;
    }
    .page-content{
        padding: 0 !important; 
        top: 0 !important;
    }
    .main-form{
        width: 100%;
        padding-bottom: 90px;
    }
    .card{
        width: 100%;
    }
    .item-chart{
        width: 20%;
    }
    .card-item{
        width: 100%;
        padding-right: 10px;
    }
    .title-filter{
        /* width: 100px; */
        width: 15%;
        padding: 5px 10px;
    }
    .select-pj{
        width: 85%;
    }
    .select2{
        width: 100%;
    }
    .title-header{
        width: 100%;
        background-color: var(--color-main);
        color: white;
        padding: 5px 10px;
        font-size: 18px;
    }
}