@media only screen and (min-width:0) {
    .form-dialog {
        width: 100%;
    }

    .body-input-account {
        padding: 5px;
        width: 100%;
    }

    .category-text-detail {
        font-size: var(--font-detail);
        width: 100%;
        color: var(--color-main);
        margin-top: 5px;
    }

    .row-bd-input {
        width: 100%;
    }

    .bd-form-input {
        width: 100%;
        padding: 5px;
        min-height: 50px;
    }

     
    .popup-box .select2-container {
        width: 100% !important;
        z-index: 9999 !important;
    }
    .popup-box .select2-container .select2-selection {
        width: 100% !important;
    }
    .popup-box .select2-container .select2-dropdown {
        z-index: 9999 !important;
    }

    .button-update-account {
        float: right;
        background-color: var(--color-btn);
        color: white;
        cursor: pointer;
        margin-top: 5px;
    }

    .custom-select {
        border: 1px solid rgba(28, 117, 188, 0.5) !important;
    }


}

.user-option {
    line-height: 1.3;
}

.full-name {
    font-weight: 600;
}

.username {
    font-size: 12px;
    color: #888;
}

@media only screen and (max-width: 600px) {
    .bd-form-input {
        width: 100%;
    }
}
