@media only screen and (min-width:0) {
    .bd-form-cmt-report{
        padding: 5px;
        border: unset;
        width: 100%;
    }
    .row-report{
        width: 100%;
        margin-bottom: 5px;
    }
    .row-report{
        width: 100%;
    }
    .icon-user-report{
        font-size: 45px;
        border-radius: 50%;
        padding: 5px;
    }
    .input-report-text{
        width: calc( 100% - 45px );
        border: 1px solid rgba(28, 117, 188 , 0.5);
        border-radius: 4px;
        padding: 5px;
    }
    .bnt-sent-comment{
        background-color: #007bff;
        border: hidden;
        padding: 5px 20px;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        position: relative;
        float: right;
        margin-top: 2px;
        cursor: pointer;
        margin-right: 2px;
        cursor: pointer;
    }
    .icon-sent-cmt{
        margin-right: 3px;
    }
    .bnt-sent-comment:hover{
        background-color: #007bffb7;
    }
    .avt-report{
        width: 30px;
        height: 30px;
        background-image: url('../../../../../assets/img/avatar-default.png');
        border-radius: 50%;
        padding: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    .form-detail-report{
        width:  calc( 100% - 30px );
    }
    .form-title-body-report{
        width: 100%;
        padding: 5px;
        font-weight: bold;
    }
    .form-time-body-report{
        width: 100%;
        padding: 0 5px;
    }
    .form-content-body-report{
        width: 100%;
        padding: 5px;
        font-weight: 400;
    }    
    .btn-edit-comment{
        cursor: pointer;
        padding: 5px;
    }
    .btn-delete-comment{
        cursor: pointer;
        padding: 5px;
    }
    .user-log{
        color: #007bffb7;
        padding-right: 5px;
    }
    .content-log{
        font-weight: 400;
    }
}