@media only screen and (min-width:0) {
    .item-task-row-6{
        width: 50%;
    }
    .value-select{
        width: calc(100% - 120px);
    }
    .info-row{
        padding-right: 0 !important;
    }
    .info-row .key.w120{
        padding: 5px;
        font-weight: 400;
    }
    .form-control{
        border: 1px solid rgba(28, 117, 188 , 0.5);
    }
    .select2{
        border: 1px solid rgba(28, 117, 188 , 0.5);
        border-radius: 4px;
    }
    .select2-selection{
        border:none !important
    }
    .button-edit{
        text-align: right;
        margin-bottom: 10px ;
        margin-right: 5px;
        margin-top: 5px;
        margin-right: 18px;
    }
     .form-control-datetime{
        border-right: 1px solid rgba(28, 117, 188 , 0.5) !important;
        border-radius: 0;
    }
    .info-row .value{
        padding-left: 0 !important;
        /* border: 1px solid rgba(28, 117, 188 , 0.5) !important; */
        border-radius: 4px;
    }
    .bd-form-report{
        width: 100%;
        border: 1px solid rgba(28, 117, 188 , 0.5);
        padding: unset !important;
        margin-top: 20px;
        padding: 10px;
    }
    .text-title{
        width: 50%;
        text-align: center;
        padding: 5px 0;
        font-weight: bold;
        cursor: pointer;
        color: #007bff;
    }
    .tab-selected{
        background-color: #007bff  !important;
        color:white !important;
    }

    .row-report{
        width: 100%;
        margin-bottom: 7px;
    }
    .form-cmt-task{
        width: 100%;
        padding: 0 !important;
    }
    
    
}