@media only screen and (min-width:0) {
    .form-dialog{
        width: 100%;
    }
    .main-form{
        width: 100%;
    }
    .body-input-account{
        padding: 5px;
        width: 100%;
    }
    .category-text-detail{
        font-size: var(--font-detail);
        width: auto;
        color: var(--color-main);
        margin-top: 5px;
    }
    .row-bd-input{
        width: 100%;
    }
    .bd-form-input{
        width: 100%;
        padding: 5px;
        min-height: 50px;
    }
    .button-update-account{
        float: right;
        background-color:var(--color-btn);
        color: white;
        cursor: pointer;
        margin-top: 5px;
    }
     .btn-change{
        color: var(--color-main);
        font-size: 18px;
        border: 1px solid rgba(28, 117, 188, 0.5);
        border-radius: 4px;
        padding: 2px 10px 0px 9px;
        margin-top: 2px;
        margin-left: 5px;
        font-weight: bold;
        cursor: pointer;
        ;
    }
}
@media only screen and (max-width: 600px) {
    .bd-form-input{
        width: 100%;
    }
}