@media only screen and (min-width:0) {
    .tab-split{
        width: 235px;
        /* border-right: 1px solid rgba(51,51,51,0.6); */
        min-height: 80vh;
        padding: 5px 10px;
        overflow-y: auto;
        padding-bottom: 20px;
    }
    .text-split-tab{
        width: 100%;
        text-align: center;
    }
    .head-card{
        width: 100%;
        text-align: center;
        padding: 10px;
        color: black;
        font-weight: bold;
        box-shadow: 0 -5px 2.5px 2px rgba(0, 0, 0, 0.18);
    }
    .icon-more-split{
        /* position: absolute;
        right: 5px; */
        font-size: 18px;
        color: var(--color-main);
        cursor: pointer;
    }
    .bd-icon-more-split:hover .tab-edit-task{
        display: block;
    }
    .bd-icon-more-split{
        position: relative;
        float: left;
        margin-left: 10px;
        cursor: pointer;
        width: 20px;
        text-align: center;
    }
    .tab-edit-task{
        width: 100px;
        position: absolute;
        right: 0;
        top: 28px;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.8);
        /* border: 1px solid #BAE7FF; */
        display: none;
    }
    .icon-form-kb{
        /* font-size: 16px; */
        width: 20px;
    }
    .icon-form-kb{
        /* font-size: 16px; */
        width: 20px;
    }
    .bd-tab-edit{
        width: 100%;
    }
    .bd-tab-edit::before{
        content: "";
        display: block;
        width: 0;
        height: 0;
        /* border: 1px solid #BAE7FF; */
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgba(255, 255, 255, 0.651);
        border-left: 10px solid transparent;
        top: -9.6px;
        right: 8px;
        position: absolute;
        
    }
    .item-edit-task{
        width: 100%;
        padding: 5px;
        border-bottom: 1px solid rgba(51,51,51,0.1);
        color: var(--color-main);
        font-size: 14px;
        position:relative;
        z-index: 2;
        font-weight: 600;
        cursor: pointer;
    }
    .item-edit-task:hover{
        background-color: rgba(51,51,51,0.5);
    }
    .btn-add-task{
        float: right;
        color: white;
        cursor: pointer;
        font-size: 14px;
        background-color: #007bff;
        padding: 3px 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .btn-add-task:hover{
        transform: scale(1.1);
        text-decoration: underline;
    }
    .name-split{
        float: left;
    }
    
}